<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Results</title>
  </head>
  <body>
    <% if "level_of_difficulty"=="B" %% "cuisine"=="B" %>
      <img src=https://b.zmtcdn.com/data/pictures/chains/7/5701047/3ceee48c84c17fdbc6ce7c2ec858afd5_featured_v2.jpg?fit=around%7C400%3A400&crop=400%3A400%3B%2A%2C%2A>
        <%= "Fish and Chips" %>
      <img src=  https://fthmb.tqn.com/PQbK1qMMMnrDDq8JlW5K9ZX_2G8=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/sausage-rolls-2000-58a714863df78c345b74e0fc.jpg>
        <%= "Sausage Rolls"%>
    <% if "level_of_difficulty"=="A" %% "cuisine"=="B" %>
      <img src=https://www.curiouscuisiniere.com/wp-content/uploads/2017/06/Authentic-British-Scones-2427.21.2.jpg>
        <%= ""
      
  </body>
</html>