<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Results</title>
  </head>
  <body>
    <% if "price"== "A" %% "level_of_difficulty"=="A" %% "cuisine"=="B" %>
      <img src=https://b.zmtcdn.com/data/pictures/chains/7/5701047/3ceee48c84c17fdbc6ce7c2ec858afd5_featured_v2.jpg?fit=around%7C400%3A400&crop=400%3A400%3B%2A%2C%2A>
      
  </body>
</html>