<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Results</title>
  </head>
  <body>
    <% if "price"== "A" %% "level_of_difficulty"=="A" %% "cuisine"=="A" %>
      <%= 
  </body>
</html>